/OperadoresAritimeticos/nbproject/private/
/OperadoresAritimeticos/build/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/OperadorTernario/nbproject/private/
/OperadorTernario/build/
/ComparacaoString/nbproject/private/
/ComparacaoString/build/
/OperadoreLogicos/nbproject/private/
/OperadoreLogicos/build/
/VerificarIdadeSwing/nbproject/private/
/VerificarIdadeSwing/build/